Repository depromeet/Ding-dong-BE, pull requests merged in 2023-06, with the labels that each got.

#10 DEP-51: 홈페이지 API 명세서 작업
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityIdCardsResponse.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityListResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityIdCardsDto.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityListDto.java
  Api/src/main/java/com/dingdong/api/global/response/SliceResponse.java
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/response/CommentCountResponse.java
  Api/src/main/java/com/dingdong/api/idcard/controller/response/IdCardDetailsResponse.java
  Api/src/main/java/com/dingdong/api/idcard/dto/IdCardDetailsDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/KeywordDto.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/Comment.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/CommentReply.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/Keyword.java
Labels: Type: Docs/Chore

#12 DEP-62: 주민증 생성 스키마 작성
  Api/src/main/java/com/dingdong/api/config/GlobalExceptionHandler.java
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/request/CreateIdCardRequest.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CreateKeywordDto.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/IdCard.java
Labels: For: Models/DB, Type: Docs/Chore

#11 DEP-49 : Kakao 소셜 로그인 / 닉네임 등록
  .github/workflows/deploy.yml
  Api/src/main/java/com/dingdong/DingdongApiApplication.java
  Api/src/main/java/com/dingdong/api/auth/controller/AuthController.java
  Api/src/main/java/com/dingdong/api/auth/controller/response/AuthResponse.java
  Api/src/main/java/com/dingdong/api/auth/controller/response/UserInfoResponse.java
  Api/src/main/java/com/dingdong/api/auth/service/AuthService.java
  Api/src/main/java/com/dingdong/api/config/security/SecurityConfig.java
  Api/src/main/java/com/dingdong/api/user/controller/UserController.java
  Api/src/main/java/com/dingdong/api/user/controller/request/UserInfoRequest.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Api/src/main/resources/application.yml
  Core/src/main/java/com/dingdong/core/consts/StaticVal.java
  Core/src/main/java/com/dingdong/core/exception/GlobalException.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/User.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/UserRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/enums/GenderType.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/client/feign/KakaoApiFeignClient.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/client/feign/KakaoAuthFeignClient.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/client/feign/config/KakaoFeignConfiguration.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/client/feign/dto/request/KakaoAuthRequest.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/client/feign/dto/response/KakaoAuthResponse.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/client/feign/dto/response/KakaoUserInfoResponse.java
  docker-compose.yml
Labels: For: API, Type: Docs/Chore, Type: Feature

#13 DEP-62: keyword, idCard 엔티티 수정
  Api/src/main/java/com/dingdong/api/idcard/controller/KeywordController.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/Keyword.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/KeywordDescription.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/UserInfo.java
Labels: For: Models/DB, For: Utils, Type: Docs/Chore

#14 DEP-63: 주민증 생성 API 작성
  Api/src/main/java/com/dingdong/api/global/helper/UserHelper.java
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/request/CreateIdCardRequest.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CreateKeywordDto.java
  Api/src/main/java/com/dingdong/api/idcard/service/CreateIdCardService.java
  Core/src/main/java/com/dingdong/core/exception/GlobalException.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/Community.java
  Domain/src/main/java/com/dingdong/domain/domains/community/exception/CommunityErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/IdCardAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/UserInfo.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/Comment.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/CommentLike.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/CommentReply.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/CommentReplyLike.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/Keyword.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/Nudge.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/vo/Character.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/vo/UserInfo.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/exception/IdCardErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/IdCardRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/validator/IdCardValidator.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/User.java
Labels: For: API, Type: Feature

#15 DEP-63: 주민증 유저 프로필 이미지 추가
  Api/src/main/java/com/dingdong/api/auth/controller/response/UserInfoResponse.java
  Api/src/main/java/com/dingdong/api/auth/service/AuthService.java
  Api/src/main/java/com/dingdong/api/idcard/controller/request/CreateIdCardRequest.java
  Api/src/main/java/com/dingdong/api/idcard/service/CreateIdCardService.java
  Api/src/main/java/com/dingdong/api/user/controller/UserController.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/vo/UserInfo.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/User.java
Labels: For: API, Type: Refactor

#16 DEP-51: 홈페이지 API 명세서 수정
  Api/src/main/java/com/dingdong/api/community/dto/CommunityListDto.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/Community.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/CommunityImage.java
Labels: Type: Docs/Chore

#18 DEP-82: 주민증 상세 조회 API 구현
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/response/IdCardDetailsResponse.java
  Api/src/main/java/com/dingdong/api/idcard/dto/IdCardDetailsDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/KeywordDto.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/IdCardAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/enums/CharacterType.java
Labels: For: API

#22 DEP-94: 행성 세부 조회 API
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityDetailsResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityDetailsDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/idcard/controller/response/IdCardDetailsResponse.java
  Api/src/main/java/com/dingdong/api/idcard/dto/IdCardDetailsDto.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/Community.java
Labels: For: API

#23 Dep-103: 주민증 수정 API 명세 작업
  .github/workflows/deploy.yml
  Api/src/main/java/com/dingdong/api/global/response/IdResponse.java
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
Labels: Type: Docs/Chore

#24 DEP-96: 유저가 소속 되어있는 행성 목록 조회 API
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityListResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityListDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/Community.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/User.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/adaptor/UserAdaptor.java
Labels: For: API

#25 DEP-76: 행성 만들기 / 꾸미기 API 명세 작업
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/request/CreateCommunityRequest.java
  Api/src/main/java/com/dingdong/api/community/controller/request/UpdateCommunityRequest.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityCodeResponse.java
Labels: Type: Docs/Chore

#28 Dep 103: 행성 id로 유저 주민증 조회 API 스키마 작업
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
Labels: Type: Docs/Chore

#29 Dep-104: 주민증 수정 API 작성
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/global/response/IdResponse.java
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/request/UpdateIdCardRequest.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/IdCardAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/vo/UserInfo.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/validator/IdCardValidator.java
  Domain/src/main/java/com/dingdong/domain/domains/image/adaptor/ImageAdaptor.java
Labels: For: API, Type: Feature, Type: Refactor

#26 DEP-49: 프로필 정보 조회 API, 토큰 재발급 API 추가
  Api/src/main/java/com/dingdong/api/auth/controller/AuthController.java
  Api/src/main/java/com/dingdong/api/auth/controller/response/UserInfoResponse.java
  Api/src/main/java/com/dingdong/api/auth/service/AuthService.java
  Api/src/main/java/com/dingdong/api/config/WebInterceptor.java
  Api/src/main/java/com/dingdong/api/user/controller/UserController.java
  Api/src/main/java/com/dingdong/api/user/controller/response/UserProfileResponse.java
  Api/src/main/java/com/dingdong/api/user/dto/UserProfileDto.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Api/src/main/resources/application.yml
Labels: For: API, Type: Docs/Chore, Type: Feature

#30 DEP-83: 행성의 주민증 목록 조회 API
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityIdCardsResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityIdCardsDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Domain/src/main/java/com/dingdong/domain/common/util/SliceUtil.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/IdCardAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/IdCardRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/IdCardRepositoryExtension.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/IdCardRepositoryImpl.java
Labels: For: API

#27 DEP-76: 관리자 행성 만들기 / 관리 API
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityCodeResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityCodeDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/community/service/generator/RandomCommunityCodeGeneratorStrategy.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/Community.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/CommunityImage.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/strategy/GenerateCommunityInvitationCodeStrategy.java
  Domain/src/main/java/com/dingdong/domain/domains/community/exception/CommunityErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/AdminRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/validator/CommunityValidator.java
Labels: For: API, Type: Feature

#31 DEP-123: 댓글, 좋아요 관련 API 스키마 작업
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/request/CreateCommentRequest.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CommentDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CommentReplyDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/LikeDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/UserInfoDto.java
Labels: Type: Docs/Chore

#32 DEP-125: 알림 관련 DB 생성
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/entity/Notification.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/enums/NotificationStatus.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/enums/NotificationType.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/vo/NotificationContent.java
Labels: For: Models/DB

#33 DEP-124: 알림 기능 명세 작업
  Api/src/main/java/com/dingdong/api/notification/controller/NotificationController.java
  Api/src/main/java/com/dingdong/api/notification/dto/CommentDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/CommunityDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/IdCardDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/NotificationDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/UserDto.java
Labels: Type: Docs/Chore

#39 DEP-115: SSE 구독 API 작업
  Api/src/main/java/com/dingdong/api/notification/controller/NotificationController.java
  Api/src/main/java/com/dingdong/api/notification/dto/NotificationDto.java
  Api/src/main/java/com/dingdong/api/notification/service/EmitterRepository.java
  Api/src/main/java/com/dingdong/api/notification/service/NotificationService.java
Labels: For: API

#38 DEP-146: 온보딩 캐릭터 정보 저장 API 추가 및 프로필 정보 조회 수정
  Api/src/main/java/com/dingdong/api/notification/controller/NotificationController.java
  Api/src/main/java/com/dingdong/api/user/controller/UserController.java
  Api/src/main/java/com/dingdong/api/user/controller/request/UserCharacterRequest.java
  Api/src/main/java/com/dingdong/api/user/controller/request/UserInfoRequest.java
  Api/src/main/java/com/dingdong/api/user/controller/response/UserProfileResponse.java
  Api/src/main/java/com/dingdong/api/user/dto/UserProfileDto.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/enums/CharacterType.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/vo/Character.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/User.java
  Domain/src/main/java/com/dingdong/domain/domains/user/exception/UserErrorCode.java
Labels: For: API, Type: Feature

#37 Dep 145: 댓글, 좋아요 관련 API 작성
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/response/CommentCountResponse.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CommentDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/LikeDto.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
  Domain/src/main/java/com/dingdong/domain/common/consts/Status.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/CommentAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/IdCardAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/Comment.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/CommentReply.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/vo/CommentVo.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/exception/IdCardErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepositoryExtension.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepositoryImpl.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/validator/CommentValidator.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/validator/IdCardValidator.java
Labels: For: API, Type: Feature

#40 DEP-155: 알림 목록 조회 API
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityCodeDto.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityDetailsDto.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityListDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CommentDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/UserInfoDto.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
  Api/src/main/java/com/dingdong/api/image/service/ImageService.java
  Api/src/main/java/com/dingdong/api/notification/controller/NotificationController.java
  Api/src/main/java/com/dingdong/api/notification/dto/CommentDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/CommunityDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/IdCardDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/NotificationDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/UserDto.java
  Api/src/main/java/com/dingdong/api/notification/service/NotificationService.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Domain/src/main/java/com/dingdong/domain/domains/alarm/domain/AlarmHistory.java
  Domain/src/main/java/com/dingdong/domain/domains/alarm/domain/enums/AlarmType.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/entity/Admin.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/entity/Community.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/model/CommunityImage.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/AdminRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/IdCard.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/model/Character.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/model/CommentVo.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/model/UserInfo.java
  Domain/src/main/java/com/dingdong/domain/domains/image/adaptor/ImageAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/image/domain/entity/DeleteImage.java
  Domain/src/main/java/com/dingdong/domain/domains/image/repository/ImageRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/entity/Notification.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/model/NotificationContent.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/vo/NotificationVO.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepositoryExtension.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepositoryImpl.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/User.java
Labels: For: API

#41 DEP-76: 행성 관련 API 수정 및 추가
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CommunityCodeResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityCodeDto.java
  Api/src/main/java/com/dingdong/api/community/dto/CommunityDetailsDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/exception/CommunityErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/validator/CommunityValidator.java
Labels: For: API

#43 Dep 145: 댓글 조회 시 주민증 id 값 추가
  Api/src/main/java/com/dingdong/api/idcard/dto/CommentDto.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/CommentAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/model/CommentVo.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepositoryExtension.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepositoryImpl.java
Labels: For: API, Type: Refactor

#42 DEP-158: 새알림 여부 및 읽음처리 API
  Api/src/main/java/com/dingdong/api/notification/controller/NotificationController.java
  Api/src/main/java/com/dingdong/api/notification/service/NotificationService.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/adaptor/NotificationAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/entity/Notification.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/exception/NotificationErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepository.java
Labels: For: API

#45 DEP-147: 알림 도메인 관련 에러 코드 Swagger 문서 추가
  Api/src/main/java/com/dingdong/api/example/ExampleController.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/exception/IdCardErrorCode.java
Labels: Type: Docs/Chore

#46 DEP-148: 행성 가입 및 떠나기 관련 API 작업
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/request/JoinCommunityRequest.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/user/dto/UserProfileDto.java
  Core/src/main/java/com/dingdong/core/consts/StaticVal.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/exception/CommunityErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/validator/CommunityValidator.java
Labels: For: API, Type: Feature
