Repository depromeet/Ding-dong-BE, pull requests merged in 2023-07, with the labels that each got.

#47 DEP-175: 이벤트 발행으로 알림 발송
  Api/src/main/java/com/dingdong/DingdongApiApplication.java
  Api/src/main/java/com/dingdong/api/global/event/EventListener.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Api/src/main/java/com/dingdong/api/notification/service/NotificationService.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/adaptor/NotificationAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/entity/Notification.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/model/NotificationContent.java
Labels: For: API, Type: Feature

#48 Dep-180: 로그아웃, 행성에 내 주민증이 있는지 여부 API 작성
  Api/src/main/java/com/dingdong/api/auth/controller/AuthController.java
  Api/src/main/java/com/dingdong/api/auth/service/AuthService.java
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/checkForUserIdCardInCommunityResponse.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/config/security/JwtTokenFilter.java
  Api/src/main/java/com/dingdong/api/user/controller/UserController.java
  Core/src/main/java/com/dingdong/core/jwt/JwtTokenProvider.java
  Domain/src/main/resources/application-domain.yml
Labels: For: API, Type: Feature

#49 DEP-182: 캐릭터 초기화 API
  Api/src/main/java/com/dingdong/api/user/controller/UserController.java
  Api/src/main/java/com/dingdong/api/user/controller/request/UserCharacterRequest.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
Labels: For: API, Type: Feature

#50 Dep-180: 유저 탈퇴 API 작성
  Api/src/main/java/com/dingdong/api/global/helper/UserHelper.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
  Api/src/main/java/com/dingdong/api/user/controller/UserController.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/entity/Community.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/AdminRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/IdCardAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/IdCardRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/adaptor/NotificationAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/User.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/UserRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/user/exception/UserErrorCode.java
Labels: For: API, Type: Feature

#52 DEP-184: 현재 본인이 속한 행성 내 정보 조회 API
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CheckForUserIdCardInCommunityResponse.java
  Api/src/main/java/com/dingdong/api/community/controller/response/MyInfoInCommunityResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/MyInfoInCommunityDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
Labels: For: API, Type: Feature

#55 DEP-186: 대댓글 생성 시 ID 값 반환
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/entity/Comment.java
Labels: For: API, Type: Refactor

#56 DEP-187: 행성의 관리지인지 여부 조회
  Api/src/main/java/com/dingdong/api/community/dto/MyInfoInCommunityDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/entity/Community.java
Labels: For: API

#53 DEP-184: 행성 관련 유효성 체크 추가
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/validator/CommunityValidator.java
Labels: For: API, Type: Refactor

#57 refactor: 유저 행성 가입 테이블 생성 및 리팩토링
  Api/src/main/java/com/dingdong/api/auth/service/AuthService.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/global/helper/UserHelper.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
  Api/src/main/java/com/dingdong/api/user/dto/UserProfileDto.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/entity/Community.java
  Domain/src/main/java/com/dingdong/domain/domains/community/domain/entity/UserJoinCommunity.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/UserJoinCommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/validator/CommunityValidator.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/IdCardAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/exception/IdCardErrorCode.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/IdCardRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/UserRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/adaptor/UserAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/entity/User.java
Labels: For: API, Type: Error/Fix, Type: Refactor

#59 DEP-148: 행성 코드 검사 시 토큰 검증 제외 및 response 수정
  Api/src/main/java/com/dingdong/api/community/controller/CommunityController.java
  Api/src/main/java/com/dingdong/api/community/controller/response/CheckInvitationCodeResponse.java
  Api/src/main/java/com/dingdong/api/community/dto/CheckInvitationCodeDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/config/security/SecurityConfig.java
Labels: For: API, Type: Feature

#60 DEP-188: 코드 리팩터링
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/idcard/service/IdCardService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/validator/CommunityValidator.java
Labels: Type: Refactor

#61 DEP-189: 행성 내 정보조회 시 주민증 없으면 에러가 발생함
  Api/src/main/java/com/dingdong/api/community/dto/MyInfoInCommunityDto.java
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
Labels: Type: Error/Fix

#63 Dep-191: 대댓글 조회 분리
  .gitignore
  Api/src/main/java/com/dingdong/api/idcard/controller/IdCardController.java
  Api/src/main/java/com/dingdong/api/idcard/controller/response/CommentRepliesResponse.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CommentDto.java
  Api/src/main/java/com/dingdong/api/idcard/dto/CommentReplyDto.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/adaptor/CommentAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/model/CommentReplyVo.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepositoryExtension.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepositoryImpl.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/validator/IdCardValidator.java
Labels: For: API, Type: Feature, Type: Refactor

#65 DEP-192: 캐릭터 생성 시 캐릭터별 디폴트 프로필 이미지 설정
  Api/src/main/java/com/dingdong/api/user/dto/UserProfileDto.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Core/src/main/java/com/dingdong/core/consts/StaticVal.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/domain/enums/CharacterType.java
  Domain/src/main/java/com/dingdong/domain/domains/user/domain/entity/User.java
Labels: For: API, Type: Feature

#66 DEP-196: 알람과 행성내 주민 이름 불일치 에러 해결
  Api/src/main/java/com/dingdong/api/global/event/EventListener.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Api/src/main/java/com/dingdong/api/notification/dto/NotificationDto.java
  Api/src/main/java/com/dingdong/api/notification/dto/UserDto.java
  Api/src/main/java/com/dingdong/api/notification/service/NotificationService.java
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/adaptor/NotificationAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/entity/Notification.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/model/NotificationContent.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/domain/vo/NotificationVO.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepositoryImpl.java
Labels: For: API, Type: Error/Fix

#67 DEP-197: 페이징 시 hasNext 항상 false 반환하는 문제 해결
  Api/src/main/java/com/dingdong/api/community/service/CommunityService.java
  Api/src/main/java/com/dingdong/api/idcard/service/CommentService.java
  Api/src/main/java/com/dingdong/api/notification/service/NotificationService.java
  Domain/src/main/java/com/dingdong/domain/common/util/SliceUtil.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/CommentRepositoryImpl.java
  Domain/src/main/java/com/dingdong/domain/domains/idcard/repository/IdCardRepositoryImpl.java
  Domain/src/main/java/com/dingdong/domain/domains/notification/repository/NotificationRepositoryImpl.java
Labels: For: API, Type: Error/Fix

#68 DEP-198: S3 delete API 이벤트처리
  Api/src/main/java/com/dingdong/api/global/event/EventListener.java
  Api/src/main/java/com/dingdong/api/image/service/ImageService.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/image/s3/S3ImageService.java
Labels: For: API, Type: Refactor

#69 Dep 199-데모데이용 workaround 코드 작성
  Api/src/main/java/com/dingdong/api/user/service/UserService.java
  Domain/src/main/java/com/dingdong/domain/domains/community/adaptor/CommunityAdaptor.java
  Domain/src/main/java/com/dingdong/domain/domains/community/repository/CommunityRepository.java
  Domain/src/main/java/com/dingdong/domain/domains/community/validator/CommunityValidator.java
Labels: For: API, Type: Feature

#70 Dep-200: 버저닝 스크립트 추가
  .github/workflows/version-deploy.yml
Labels: For: Deploy

#71 DEP-201: 비동기 작업 스레드 세팅
  Api/src/main/java/com/dingdong/DingdongApiApplication.java
  Api/src/main/java/com/dingdong/api/config/AsyncConfig.java
  Api/src/main/java/com/dingdong/api/config/SchedulingConfig.java
  Api/src/main/java/com/dingdong/api/notification/service/NotificationService.java
  Infrastructure/src/main/java/com/dingdong/infrastructure/image/s3/S3ImageService.java
Labels: For: API, Type: Feature
